.banner-interno {
  height: 540px;
  width: 100%;

  &.socioambiental {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    padding-top: 50px;
    height: 400px;
    max-height: 400px;
    top: 0;
    width: 100%;

    & > img {
      left: 0;
      right: 0;
      max-width: 100vw;
      object-fit: cover;
      object-position: center center;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
