.conteudo {
  background: url(../images/padrao-branco.jpg) repeat;
  padding: 150px 0;

  h1 {
    border-bottom: 1px solid $primary;
    border-right: 1px solid $primary;
    border-bottom-right-radius: 10px;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 3rem;
    padding-right: 1rem;
    padding-bottom: 1rem;

    @include media-breakpoint-up(md){
      width: fit-content;
      max-width: 60%;
    }
  }

  &.laranja{
    background: url(../images/padrao-laranja.jpg) repeat;
    color: $white;

    h1{
      color: $secondary;
      border-color: $white;
    }
    a{
      color: $white;
      text-decoration: underline;
    }
  }

  &.marrom{
    background: url(../images/padrao-marrom.jpg) repeat;
    color: $white;

    h1{
      color: $white;
    }
  }

  &.socioambiental{
    background: url(../images/padrao-laranja.jpg) repeat;
    color: $secondary;

    h1{
      color: $secondary;
      border-color: $white;
    }
    a{
      color: $white;
      text-decoration: underline;
    }
  }

  // servicos
  .servicos {
    margin-bottom: 2rem;

    h3 {
      font-size: 1.5rem;
      font-weight: 400;

      &:before {
        color: $secondary;
        content: "\f054 ";
        display: block;
        float: left;
        font-family: "Font Awesome 5 Free";
        font-size: 1rem;
        font-weight: 900;
        height: 1rem;
        opacity: 0;
        padding: 0.6rem 0 3rem 0;
        width: 1rem;
        transition: all ease-in-out .25s;
      }
      &:hover {
        &:before {
          color: $secondary;
          opacity: 1;
        }
      }
      a {
        color: $secondary;
        text-decoration: underline;
        transition: all ease-in-out 0.25s;

        &:hover {
          color: $secondary;
        }
      }
    }
    p{
      margin-left: 1rem;
    }
  }

  .back-top{
    border: 1px solid $primary;
    border-radius: 100px;
    margin-top: 2rem;
    padding: .25rem .5rem;
    position: absolute;
    right: 0;
    text-decoration: none;
    transition: all ease-in-out .25s;
    
    &:hover{
      background: $primary;
      color: $white;
    }
  }

  // blog
  .posts{
    margin-bottom: 2rem;

    &__box{
      margin-bottom: 2rem;
      
      img{
        margin-bottom: 1rem;
      }
    }
  }

  .paginacao {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;

    ul {
      display: flex;
      list-style: none;

      li {
        color: $secondary;
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        min-height: 2.5rem;
        min-width: 2.5rem;
        padding-inline-start: 0;
        text-align: center;

        .current {
          color: $secondary;
        }
        a {
          color: $secondary;
          padding: 0.5rem 1rem;

          &.prev {
            background: $secondary;
            color: $white;
          }
          &.next {
            background: $secondary;
            color: $white;
          }
          &:hover {
            background: $primary;
            color: $white;
            text-decoration: none;
          }
        }
      }
    }
  }
}
