.conteudo {
  background: url(../images/padrao-branco.jpg) repeat;
  padding: 150px 0;

  h1 {
    border-bottom: 1px solid $primary;
    border-right: 1px solid $primary;
    border-bottom-right-radius: 10px;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 3rem;
    padding-right: 1rem;
    padding-bottom: 1rem;

    @include media-breakpoint-up(md) {
      width: fit-content;
      max-width: 75%;
    }
  }

  &__busca {
    background: $white;
    border: 1px solid #ccc;
    border-radius: 5px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 2rem;
    }

    form {
      position: relative;

      input {
        background: transparent;
        border: none;
        padding: 2px 5px;
        width: 100%;
      }

      button {
        background: transparent;
        border: none;
        position: absolute;
        right: 0;
        top: 0;

        svg {
          fill: $primary;
          height: auto;
          width: 16px;
        }
      }
    }
  }

  &__retorno {
    margin-bottom: 2rem;

    strong{
      color: $primary;
    }
  }

  // fundo laranja
  &.laranja {
    background: url(../images/padrao-laranja.jpg) repeat;
    color: $white;

    h1 {
      color: $secondary;
      border-color: $white;
    }
    a {
      color: $white;
      text-decoration: underline;
    }
  }

  // fundo marrom
  &.marrom {
    background: url(../images/padrao-marrom.jpg) repeat;
    color: $white;

    h1 {
      color: $white;
    }
  }

  // socioambiental
  &.socioambiental {
    background: url(../images/padrao-laranja.jpg) repeat;
    color: $secondary;
    position: relative;

    .selo {
      height: 200px;
      margin: -250px 0 50px 0;
      text-align: center;
      z-index: 0;

      @include media-breakpoint-up(md) {
        text-align: right;
      }
      img {
        max-height: 200px;
        max-width: 200px;
      }
    }
    h1 {
      color: $white;
      border: none;
      font-weight: 700;
      text-transform: uppercase;
    }
    a {
      color: $white;
      text-decoration: underline;
    }
    ul {
      padding-inline-start: 0;

      li {
        display: inline-block;
        list-style: none;
        padding: 0 1rem;

        @include media-breakpoint-up(md) {
          &:first-child {
            padding-left: 0;
          }
        }
      }
    }
    a {
      transition: all ease-in-out 0.25s;

      &:hover {
        text-decoration: none;
      }
    }
  }

  // pagina socioambiental e galeria
  .socioambiental {
    display: block;
    position: relative;

    &__galeria {
      padding: 3rem 0 0 0;

      .carousel-inner {
        border: 10px solid $white;

        img {
          height: auto;
          width: 100%;
        }
        .carousel-caption {
          background: #c77c06;
          bottom: 0;
          color: $black;
          padding: 1rem;

          @include media-breakpoint-up(md) {
            bottom: 20px;
            left: 25%;
            right: 0;
            text-align: left;
          }
          h5 {
            display: none;

            @include media-breakpoint-up(md) {
              display: block;
              font-size: 1.25rem;
              font-weight: 700;
            }
          }
          p {
            display: none;

            @include media-breakpoint-up(md) {
              display: block;
              font-size: 1rem;
              line-height: 1.2;
            }
          }
          a {
            justify-content: center;

            @include media-breakpoint-up(md) {
              display: flex;
              justify-content: right;
              text-transform: uppercase;
            }
          }
        }
      }
      .carousel-indicators {
        bottom: -60px;
        margin: 15px;

        @include media-breakpoint-up(md) {
          justify-content: flex-start;
        }

        li {
          @include media-breakpoint-up(md) {
            background: none;
            color: $white;
            font-size: 0.8rem;
            height: auto;
            line-height: 1.2;
            margin: 0 0.75rem;
            text-indent: initial;
            text-transform: uppercase;
            width: auto;
          }
        }
      }
    }
  }

  // servicos
  .servicos {
    margin-bottom: 2rem;

    h3 {
      font-size: 1.5rem;
      font-weight: 400;

      &:before {
        color: $secondary;
        content: "\f054 ";
        display: block;
        float: left;
        font-family: "Font Awesome 5 Free";
        font-size: 1rem;
        font-weight: 900;
        height: 1rem;
        opacity: 0;
        padding: 0.6rem 0 3rem 0;
        width: 1rem;
        transition: all ease-in-out 0.25s;
      }
      &:hover {
        &:before {
          color: $white;
          display: block;
          margin-top: -3px;
          opacity: 1;
        }
      }
      a {
        color: $secondary;
        text-decoration: none;
        transition: all ease-in-out 0.25s;
      }
    }
    p {
      margin-left: 1rem;
    }
  }

  // lista de links laterais
  .lateral-servicos {
    background: rgba($primary, 0.2);
    border-radius: 20px;
    line-height: 1.2;
    padding: 2rem;
    transition: all ease-in-out 0.25s;

    li {
      list-style: none;
      margin-bottom: 0.25rem;

      &.active {
        .nav-link {
          color: $secondary;
          text-decoration: underline;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  // botao voltar para o topo
  .back-top {
    border: 1px solid $primary;
    border-radius: 100px;
    margin-top: 2rem;
    padding: 0.25rem 0.5rem;
    position: absolute;
    right: 0;
    text-decoration: none;
    transition: all ease-in-out 0.25s;

    &:hover {
      background: $primary;
      color: $white;
    }
  }

  // blog
  .posts {
    margin-bottom: 2rem;

    &__box {
      margin-bottom: 2rem;

      img {
        margin-bottom: 1rem;
      }
    }
  }

  .paginacao {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;

    ul {
      display: flex;
      list-style: none;
      padding-inline-start: 0;

      li {
        color: $secondary;
        display: block;
        font-size: 1rem;
        font-weight: bold;
        min-height: 2rem;
        min-width: 2rem;
        padding-inline-start: 0;
        text-align: center;

        .current {
          background: $primary;
          color: $white;
          padding: 0.5rem 1rem;
        }
        a {
          color: $secondary;
          padding: 0.5rem 1rem;

          &.prev {
            background: $secondary;
            color: $white;
          }
          &.next {
            background: $secondary;
            color: $white;
          }
          &:hover {
            background: $primary;
            color: $white;
            text-decoration: none;
          }
        }
      }
    }
  }
}
