// home
.footer-home {
  bottom: 0;
  font-weight: 700;
  position: fixed;
  text-align: right;
  text-transform: uppercase;
  z-index: 10;
  width: 100%;

  .container {
    padding: 0;
    
    @include media-breakpoint-up(md) {
      border-top: 1px solid $white;
    }
  }

  &__nav {
    padding: 0;

    .navbar-nav {
      flex-direction: row;
      justify-content: center;

      @include media-breakpoint-up(md) {
        justify-content: flex-end;
      }
      .nav-item {
        padding: 1rem 1rem 0 1rem;

        @include media-breakpoint-up(md) {
          padding: 1rem;
        }
        .nav-link {
          color: $white;
          font-size: 1rem;
        }
      }
    }
  }

  &__social {
    padding: 0;

    ul {
      display: flex;
      margin-bottom: 0;

      li {
        align-items: center;
        display: flex;
        list-style: none;

        a {
          color: $white;
          font-size: 1.25rem;
          padding: 1.25rem 0.5rem;
          transition: all ease-in-out 0.25s;
          &:hover {
            opacity: 0.5;
          }
        }
        img {
          height: 2rem;
          width: 2rem;

          &.icone-whatsapp{
            opacity: .5;
          }
        }
      }
    }
  }
}

// paginas internas
.footer-geral {
  background: $secondary;
  color: $white;
  padding: 2rem 0;

  a {
    color: $white;
  }

  &__endereco {
    text-align: center;

    @include media-breakpoint-up(md) {
      text-align: left;
    }
  }

  &__nav {
    text-align: center;
    text-transform: uppercase;

    @include media-breakpoint-up(md) {
      text-align: right;
    }
    img {
      margin-bottom: 2rem;
    }
    .navbar-nav {
      margin-bottom: 2rem;
      li {
        a {
          padding: 0;

          &:hover {
            color: $primary;
          }
        }
      }
    }

    .redes-sociais {
      font-size: 1.5rem;
      margin-bottom: 0;
      padding-inline-start: 0;

      li {
        display: inline;
        list-style: none;
        padding: 1rem 0.5rem;

        &.marca {
          img {
            height: auto;
            width: 125px;
          }
        }
        a {
          transition: all ease-in-out 0.25s;
          &:hover {
            text-decoration: none;
            opacity: 0.75;
          }
        }
        img {
          height: 2rem;
          margin-bottom: 0;
          width: 2rem;

          &.icone-whatsapp{
            opacity: .5;
          }
        }
      }
    }
  }
}

/* purgecss start ignore */
.grecaptcha-badge {
  visibility: hidden;
}
/* purgecss end ignore */
