/*! purgecss start ignore */
.formulario {
  .form-group {
    margin-bottom: 1rem;

    input,
    select,
    textarea {
      background: #e5e5e5;
      border: none;
      border-radius: 5px;
    }
    input[type="text"],
    input[type="email"],
    select,
    textarea{
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
      min-height: 40px;
      min-width: 100px;
      padding: .5rem 1rem;
    }
    input[type="submit"] {
      background: #707070;
      border: 0;
      border-radius: 10px;
      color: $white;
      padding: 0.25rem 1rem;
    }
    #curriculo,
    #deficiencia {
      background: none;
      border: none;
    }
  }
}
/*! purgecss end ignore */
