//header home
.header-home {
  background: none;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;

  .navbar-nav {
    margin-left: auto;

    .nav-link {
      color: $white;
      font-size: 1rem;
      font-weight: 700;
      text-transform: uppercase;
      transition: all ease-in-out 0.25s;

      &:hover {
        color: $secondary;
        font-weight: 700;
      }
    }
  }
}

// header-geral
.header-geral {
  background: $secondary;
  color: $white;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;

  .navbar-nav {
    margin-left: auto;

    .nav-link {
      color: $white;
      font-size: 1rem;
      font-weight: 700;
      text-transform: uppercase;
      transition: all ease-in-out 0.25s;

      &:hover {
        color: $primary;
        font-weight: 700;
      }
    }
  }
}
