.slideshow{
  background: $primary;
  display: flex;
  justify-content: center;
  height: 100vh;

  .carousel{

    .carousel-item{
      object-fit: cover;
      object-position: center;
      max-height: 100vh;
      max-width: 100vw;

      .carousel-caption{
        bottom: 45%;
        text-transform: uppercase;

        h5{
          font-size: 1.5rem;
          font-weight: 400;
          letter-spacing: 3px;
        }
      }
    }
    .carousel-indicators li{
      border-radius: 100%;
      height: 10px;
      transition: all ease-in-out .25s;
      width: 10px;
    }
  }
}