assinatura
node_modules
tmpnodejsnpm-cache
wp-content/uploads
wp-content/updraft

wp-content/webp-express/webp-images
wp-content/webp-express/config/config.json
wp-content/webp-express/config/wod-options.json
wp-content/webp-express/htaccess-capability-tests/header-set/request-me.txt
wp-content/webp-express/htaccess-capability-tests/pass-info-from-rewrite-to-script-through-env/test.php

wp-config.php
.htaccess