# WordPress Core
/wp-admin/
/wp-includes/
/wp-content/index.php
/wp-content/languages/
/wp-content/plugins/
/wp-content/themes/index.php
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration & Local Environment
wp-config.php
.htaccess
local-*.php
/assinatura

# Dependencies
/node_modules/
/vendor/

# Themes (Ignore legacy and default themes)
/wp-content/themes/twenty*/
/wp-content/themes/vina/

# Uploads, Backups & Cache
/wp-content/uploads/
/wp-content/updraft/
/wp-content/ai1wm-backups/
/wp-content/webp-express/

# Logs
*.log